*
    margin 0
    padding 0

body
    background-color #f6f6f6

.box
    background-color #fff
    border 1px solid #d6d6d6
    border-radius 8px
    width 500px
    position absolute
    overflow hidden
    .btn-success
        background-color #3848C8
        border none
        &:hover
            background-color #3848C8
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding 16px
    .header-box
        background-color #851de0
        // border-radius 10px 10px 0 0
        padding 10px
        a
            display flex
            justify-content center
            img
                width 12%
    .footer
        display flex
        justify-content space-between

        a
            font-size .8em

.btn-100
    width 100%

.mt-16
    margin-top 16px

.center-x
    display flex
    justify-content center
.box-login
    top calc(50% - 177.26px)
.box-register
    top calc(50% - 306.26px)
